<!DOCTYPE html>

<html>
	<head>
		<title>pypercept</title>
		<meta charset="utf-8"></meta>
        <meta property="cid" content="{{ clientid }}"></meta>
	</head>
    <script language="javascript" type="text/javascript" src="{{ static_url("script.js") }}"></script>

	<style>

	.button {
		box-shadow: inherit;
		font-size: 2.5em;
		height: 100%;
		width: 20%;
		margin-right: 4%;
		margin-left: 4%;
		color: #000;
		border-radius: 15px;
		font-family: Calibri,sans-serif;
		padding: 5px 10px;
		position: relative;
		background-color: #FFF;
	}
	
	#next_run, #close {
		height: 10%;
		margin-top: 5%;
		font-size: 0.5em;
	}
	
	#label {
		background-color: #FFF;
		font-family: sans-serif;
		position: relative;
		height: 13%;
	}
	
	#label p {
		font-family:sans-serif;
	}
	
	html, body {
		height: 100%;
	}
	
	.btnGrpMeta {
		position: relative;
		margin-top: 5%;
		height: 7%;
		font-size: 0.5em;
	}
	
	.btnGrpAnswer {
		position: relative;
		margin-top: 6%;
		width: 100%;
		height: 30%;
		margin-left: auto;
		margin-right: auto;
	}

	</style>
	
	<body scroll="no">
		<div id="label" align="center">
			<div>
				<p id="params"> </br> </p>
				<p id="task"></br> </p>
				<p id="feedback"></p>
			</div>
		</div>
		<div class="btnGrpMeta" align="center">
			<input class="button"
				id="btNext"
				type="button"
				value="next run"
				onclick="send_msg('next_run', 'next_run')">
			<input class="button"
				id="btSQ"
				type="button"
				value="start experiment"
				onclick="start_quit()">
		</div>
		<div class="btnGrpAnswer" align="center">
			<input class="button reply_button blink_button"
				type="button"
				id="btReply0"
				value="1"
				onclick="send_msg('answer', 1)">
			<input class="button reply_button blink_button" 
				type="button"
				id="btReply1"
				value="2"
				onclick="send_msg('answer', 2)">
		</div>
	</body>
</html>
