<!DOCTYPE html>

<html>
	<head>
		<title>pypercept - select experiment</title>
		<meta charset="utf-8"></meta>
	</head>
	<body scroll="no">
      <div id="content">
         <form action="/" method="post">
           Select experiment:<br>
           <fieldset>
             {% for experiment in experiments %}
             <input type="radio" id="mc" name="experiment" value="{{ experiment }}">
             <label for="mc">{{ experiment }}</label><br>
             {% end %}
           </fieldset>
           <br>
           
           <input type="submit" value="start experiment">
         </form> 
		
      </div>
	</body>
</html>
